* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f6d677;
}

.hidden {
    display: none;
}

/* Center Content */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spacing - Margin and Padding */

.margin-top-large {
    margin-top: 125px;
}

.margin-top {
    margin-top: 25px;
}

.margin-bottom {
    margin-bottom: 25px;
}

/* Font Sizing and Colouring */

.brand-font-large {
    font-family: "Alfa Slab One", serif;
    font-size: 32px;
    letter-spacing: 5px;
    color: #114362;
}

.brand-font-reg {
    font-family: "Alfa Slab One", serif;
    font-size: clamp(12px, calc(7.82px + 1.015vw), 20px);
    letter-spacing: 3px;
    color: #114362;
}

.p-font {
    font-size: clamp(12px, calc(7.82px + 1.015vw), 20px);
    line-height: 34px;
    color: #4A4A4A;
}

.nav-links {
    font-size: 22px;
}


/* Element Positioning */

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.z-top {
    z-index: 1000;
}