/*Styling so that text wraps around the image*/
.wrap-image {
  @media (min-width: 768px) {
    float: left;
    max-width: 40%;
    margin: 0 1.5rem 1rem 0;
  }
}

.stop-wrap::after {
  @media (min-width: 768px) {
    clear: both;
  }
}

/* Styling so that the two images are overlapped */

.image-staggered {
  bottom: -100px;
}
